<%- include('../partials/header'); %>
<h2><b>API call: </b>There are <%=nouns.length%> nouns.</h2>
<div class="content">
	<ul>
    <% for(const
       noun
       of
       nouns.slice(0,3))
       {
       %>
            
                <li><%=noun.article%><%=noun.singular%></li>
        <% }
           %>
        <li>...</li>
        </ul>
    </div>
    <%- include('../partials/footer'); %>